<body>
  <div>
    <h1 class="help-title">
      ALGUM PROBLEMA?<br />
      ESTAMOS AQUI PARA AJUDAR
    </h1>
  </div>

  <!-- Grid row -->
  <div
    class="row accordion-gradient-bcg d-flex justify-content-center col-lg-12"
  >
    <!-- Grid column -->
    <div class="col-md-3">
      <!--Card-->
      <div class="card">
        <!--Card image-->
        <div class="view">
          <img
            src="../../../assets/images/sobre-o-curso-1.png"
            class="card-img-top"
            alt="photo"
          />
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Sobre o curso</h4>
          <!--Text-->
          <p class="card-text">
            Dúvidas gerais sobre conteúdo de aprendizagem, duração, avaliações
            do curso.
          </p>
        </div>
      </div>
      <!--/.Card-->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3">
      <!--Card-->
      <div class="card">
        <!--Card image-->
        <div class="view">
          <img
            src="../../../assets/images/certificado-2.png"
            class="card-img-top"
            alt="photo"
          />
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Certificado</h4>
          <!--Text-->
          <p class="card-text">
            Dúvidas sobre certificado, emissão, dados referente ao certificado
            entre outros.
          </p>
        </div>
      </div>
      <!--/.Card-->
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-3 ">
      <!--Card-->
      <div class="card">
        <!--Card image-->
        <div class="view">
          <img
            src="../../../assets/images/acesso-3.png"
            class="card-img-top"
            alt="photo"
          />
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Acesso</h4>
          <!--Text-->
          <p class="card-text">
            Dúvidas sobre o acesso no portal, senhas, e-mail e recursos
            disponíveis para o aluno.
          </p>
        </div>
      </div>
      <!--/.Card-->
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
  <br /><br />

  <!-- Start Collapsed  -->

  <!-- Card -->
  <div class="card card-image">
    <!-- Content -->
    <div class="py-5 px-6">
      <div class="row d-flex justify-content-center m-0">
        <div class="col-md-10 col-xl-8">
          <!--Accordion wrapper-->
          <div
            class="accordion md-accordion accordion-5"
            id="accordionEx5"
            role="tablist"
            aria-multiselectable="true"
          >
            <!-- Accordion card -->
            <div class="card mb-4">
              <!-- Card header -->
              <div class="card-header p-0 z-depth-1" role="tab" id="heading30">
                <a
                  data-toggle="collapse"
                  data-parent="#accordionEx5"
                  href="#collapse30"
                  aria-expanded="true"
                  aria-controls="collapse30"
                >
                  <i
                    class="incon-fas fas fa-laptop-code fa-2x p-3 mr-4 float-left black-text"
                    aria-hidden="true"
                  ></i>
                  <h4 class="text-uppercase white-text mb-0 py-3 mt-1 rounded">
                    Sobre o Curso
                  </h4>
                </a>
              </div>

              <!-- Card body -->
              <div
                id="collapse30"
                class="collapse"
                role="tabpanel"
                aria-labelledby="heading30"
                data-parent="#accordionEx5"
              >
                <div
                  class="card-body-1 rgba-light white-text z-depth-5 rounded"
                >
                  <h6 class="p-md-4 mb-0">
                    <h6>
                      <ul>
                        <li>
                          <h4 class="ask-title">
                            Diferença de um curso online e presencial:
                          </h4>
                          <br />
                          <p class="answer-text">
                            R: A principal diferença entre cursos presenciais e
                            online é a possibilidade de estudar onde e a hora
                            que quiser: tudo no seu ritmo!
                          </p>
                        </li>
                        <li>
                          <h3 class="ask-title">
                            Dúvida em relação ao conteúdo:
                          </h3>
                          <br />
                          <p class="answer-text">
                            R: Cada curso possui também um fórum de dúvidas,
                            onde é possível enviar uma mensagem para o instrutor
                            responsável de cada curso. Você terá todo o auxílio
                            necessário para o melhor aproveitamento das aulas!
                          </p>
                        </li>
                        <li>
                          <h3 class="ask-title">Qual a duração dos cursos:</h3>
                          <br />
                          <p class="answer-text">
                            R: Cada curso possui uma carga horária diferente,
                            que pode variar de XX a XXX horas. Você pode
                            conferir a duração de cada curso na descrição! :D
                          </p>
                        </li>

                        <li>
                          <h3 class="ask-title">
                            Como é feita a avaliação dos cursos?
                          </h3>
                          <br />
                          <p class="answer-text">
                            R: O curso é dividido por módulos e ao final de cada
                            módulo é realizada uma atividade, onde é calculada a
                            sua porcentagem de acertos. Alunos com mais de 80%
                            de aproveitamento na média de todas as atividades
                            recebem o certificado. Caso não atinja a porcentagem
                            necessária fique tranquilo (a)! Você poderá refazer
                            as atividades. ;)
                          </p>
                        </li>
                      </ul>
                    </h6>
                  </h6>
                </div>
              </div>
            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card mb-4 rounded">
              <!-- Card header -->
              <div class="card-header p-0 z-depth-1" role="tab" id="heading31">
                <a
                  data-toggle="collapse"
                  data-parent="#accordionEx5"
                  href="#collapse31"
                  aria-expanded="true"
                  aria-controls="collapse31"
                >
                  <i
                    class="incon-fas fas fa-user-graduate fa-2x p-3 mr-4 float-left black-text"
                    aria-hidden="true"
                  ></i>
                  <h4 class="text-uppercase white-text mb-0 py-3 mt-1 rounded">
                    Certificado
                  </h4>
                </a>
              </div>

              <!-- Card body -->
              <div
                id="collapse31"
                class="collapse"
                role="tabpanel"
                aria-labelledby="heading31"
                data-parent="#accordionEx5"
              >
                <div class="card-body-1 rgba-light white-text z-depth-1">
                  <h6 class="p-md-4 mb-0">
                    <h6>
                      <ul>
                        <li>
                          <h3 class="ask-title">Vou receber certificado?</h3>
                          <br />
                          <p class="answer-text">
                            R: Sim! Todos os nossos cursos possuem certificados!
                            Os certificados de cursos livres são válidos para:
                            atividades extracurriculares em Faculdades e
                            Universidades, melhoria do seu currículo, base para
                            inserção no mercado de trabalho (...) etc (?)
                          </p>
                        </li>
                        <li>
                          <h3 class="ask-title">
                            Quais dados constam no certificado?
                          </h3>
                          <br />
                          <p class="answer-text">
                            R: O seu nome completo, nome do curso, ano de
                            conclusão e carga horária do curso.
                          </p>
                        </li>
                      </ul>
                    </h6>
                  </h6>
                </div>
              </div>
            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card mb-4">
              <!-- Card header -->
              <div class="card-header p-0 z-depth-1" role="tab" id="heading32">
                <a
                  data-toggle="collapse"
                  data-parent="#accordionEx5"
                  href="#collapse32"
                  aria-expanded="true"
                  aria-controls="collapse32"
                >
                  <i
                    class=" incon-fas fas fa-unlock-alt fa-2x p-3 mr-4 float-left black-text"
                    aria-hidden="true"
                  ></i>
                  <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                    Acesso
                  </h4>
                </a>
              </div>

              <!-- Card body -->
              <div
                id="collapse32"
                class="collapse"
                role="tabpanel"
                aria-labelledby="heading32"
                data-parent="#accordionEx5"
              >
                <div class="card-body-1 rgba-light white-text z-depth-1">
                  <h6 class="p-md-4 mb-0">
                    <ul>
                      <li>
                        <h3 class="ask-title">
                          Quais são os recursos do portal:
                        </h3>
                        <br />
                        <p class="answer-text">
                          R: O material dos nossos cursos é composto por vídeos,
                          PDF’s e materiais auxiliares, transcrição de vídeos e
                          acessibilidade em libras, além das atividades de cada
                          módulo.
                        </p>
                      </li>
                      <li>
                        <h3 class="ask-title">Como utilizar o portal:</h3>
                        <br />
                        <p class="answer-text">
                          R: Você pode acessar o conteúdo do seu curso pelo seu
                          computador (desktop e notebook), tablet e celular. A
                          nossa plataforma é compatível com todos os Sistemas
                          Operacionais! E não se preocupe, o seu progresso no
                          curso é salvo automaticamente. ;)
                        </p>
                      </li>
                      <li>
                        <h3 class="ask-title">
                          Esqueci o meu e-mail de acesso:
                        </h3>
                        <br />
                        <p class="answer-text">
                          R: É fácil! Preencha o formulário de contato e a nossa
                          equipe entrará em contato com você. ;D
                        </p>
                      </li>
                      <li>
                        <h3 class="ask-title">Esqueci a minha senha:</h3>
                        <br />
                        <p class="answer-text">
                          - Clique em Área do aluno;<br />
                          - Clique em Esqueci minha senha;<br />
                          - Cadastre sua nova senha conforme regra;<br />
                          - Informe o Código que foi encaminhado para seu e-mail
                          ou clique Alterar Senha;<br />
                          - Caso necessite de auxílio, por favor, clique em
                          Abrir um Chamado para o Suporte,acima, preencha o
                          formulário e abra um chamado com sua solicitação para
                          análise.
                        </p>
                      </li>
                    </ul>
                  </h6>
                </div>
              </div>
            </div>
            <!-- Accordion card -->
          </div>
          <!--/.Accordion wrapper-->
        </div>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Card -->
  <!-- End Collapsed  -->

  <!-- Form contact -->
  <div class="col-xl-4 py-4 center-block">
    <label>
      <h1 class="form-title">Tem outra dúvida?</h1>
      <br />
      <p class="form-subtitle">
        * Preencha o formulário, vamos te ajudar da melhor forma possível!
      </p>
      <div></div>
    </label>
  </div>
  <form class="col-xl-6 py-2 center-block">
    <div class="md-form">
      <i class="fa fa-user"></i>
      <input type="text" id="form1" class="form-control" />
      <label for="form1" class="form-text">Nome</label>
    </div>
    <div class="md-form form-sm">
      <i class="fa fa-envelope prefix"></i>
      <input type="text" id="form2" class="form-control form-control-sm" />
      <label for="form1"class="form-text">E-mail</label>
    </div>
    <div class="md-form form-sm">
      <i class="fa fa-phone prefix"></i>
      <input type="text" id="form3" class="form-control form-control-sm" />
      <label for="form1"class="form-text">Telefone</label>
    </div>
    <div class="md-form form-sm">
      <i class="fa fa-comment prefix "></i>
      <input type="text" id="form4" class="form-control form-control-sm" />
      <label for="form1"class="form-text">Assunto</label>
    </div>

    <div class="md-form form-sm">
      <i class="fa fa-pencil prefix"></i>
      <textarea
        type="text"
        id="form8"
        class="md-textarea form-control form-control-sm"
        rows="4"
      ></textarea>
      <label for="form1" class="form-text">Sua mensagem</label>
    </div>

    <div class="text-center mt-4">
      <button class="btn">
        Enviar <i class="fa fa-paper-plane-o ml-1"></i>
      </button>
    </div>
  </form>
  <!-- End form contact -->

  <!--Grid column-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
</body>
