<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="'/home'"> <img src="./../../assets/images/logo.PNG" alt="logo do progrAme.se"
            width="30px" height="30px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/home'">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Cursos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link dropdown-item" [routerLink]="'/curso'">Todos Cursos</a>
                    <a class="nav-link dropdown-item" [routerLink]="'/busca-curso'">Buscar Cursos</a>
                    <a class="nav-link dropdown-item" [routerLink]="'/cadastrar-curso'">Cadastrar Cursos</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/sobre-nos'">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/contato'">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/lista-cadastrados'">Lista de Alunos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/central-de-ajuda'">Central de Ajuda</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-lg-auto mr-lg-0">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#modalLRForm2" [routerLink]="'/cadastro'">Registre-se</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#modalLRForm" [routerLink]="'/login'">Login</a>
            </li>
        </ul>
    </div>
</nav>