/*Formatação Navbar*/
.navbar{
   padding: 0.2em
}
.nav-margin{
   margin-right: 0.20em;
}


.navbar.navbar-light .navbar-nav .nav-item .nav-link  {
   padding: 0.3em;
   font-size: 0.9em;
   margin-right: 0.3em; 
}

ul {
  
   background-color: #f8f9fa; /* mudança dia 31-01*/
 }
 
 li a:hover, .dropdown:hover .dropbtn {
   background-color: #f3decac0; 
 }
